<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>日历1</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历1</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历2</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历2</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历3</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历3</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历4</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历4</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历5</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历6</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历6</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历7</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历7</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历8</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历8</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历9</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历9</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历10</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历10</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历11</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历11</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历12</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历12</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历13</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历13</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历14</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历14</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历15</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历15</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历16</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历16</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历17</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历17</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历18</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历18</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历19</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历19</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历20</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历20</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历21</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历21</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历22</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历22</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历23</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历23</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历24</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历24</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历25</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历25</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历26</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历26</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历27</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历27</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历28</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历28</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历29</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历29</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历30</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历30</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>日历31</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>日历31</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
